<footer class="footer">
    &copy;
    <% if (new Date().getFullYear() == 2016) { %>
        <%- new Date().getFullYear() %>
    <% } else { %>
        2016-<%- new Date().getFullYear() %>
    <% } %>

    <a href="<%- url_for() %>">曾华经</a>
	<br>
	<span id="busuanzi_container_site_pv">本站总访问量：<span id="busuanzi_value_site_pv">0</span>次</span>
	&emsp;
    <span id="busuanzi_container_site_uv">本站总访客数：<span id="busuanzi_value_site_uv">0</span>人</span>
</footer>
<div class="back-to-top" id="JELON__backToTop" title="返回顶部">返回顶部</div>
